* {
	padding: none;
	outline: none;
	margin: none;
}

h1{
	text-align: center;
	font-family: cursive;
	font-size: 5vw;
	color: #444;
}

#wrapper{
	width: 75%;
	margin: 0 auto;
	text-align: center;
	box-shadow: 1px 2px 11px #2e2e2e;
}

#chat-window #messages{
	padding: 2%;
	height: 40vh;
	overflow: scroll;
}

#messages p{
	margin: 1%;
	font-size: 3vw;
	font-style: italic;
	color: rgb(112, 112, 112);
}

input{
	width: 80%;
	font-size: 2vw;
	padding: 1.5%;
	border: 0.2px solid silver;
	border-radius: 4px;
	margin: 0 auto;
	margin: 1%;
}

#btn{
	width: 80%;
	font-size: 2vw;
	border: none;
	padding: 1.5%;
	border-radius: 3px;
	margin-bottom: 8vh;
	background-color: royalblue;
	color: #fff;
}

#btn:hover{
	trasition: all 0.4s ease-in-out;
	background-color: transparent;
	cursor: pointer;
	box-shadow: 2px 3px 8px #444;
	color: royalblue;
}

#btn:active{
	transform: translateY(8px);
}